body {
  padding: 0;
  margin: 0;
  font-family: "Calibri", Helvetica, sans-serif;
  font-size: 14px;
  touch-action: manipulation;
}
.root {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 15px;
}
.card {
  width: 48%;
  margin: 1%;
  overflow: hidden;
  display: inline-block;
  min-height: 150px;
  background: #f9f9f9;
  overflow: hidden;
  box-shadow: 0 0 2px #ddd, inset 0 1px 2px #fff;
}
@media (max-width: 992px) {
  .card {
    width: 98%;
  }
}

.card img {
  width: 100%;
}

button {
  display: inline-block;
  margin: 1%;
  padding: 1%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
